.tuningSliderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
  }
  
  .wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  
  .gallery {
    position: relative;
    display: flex;
    z-index: 1;
    flex-direction: column;
  }
  
  .img {
    height: 100%;
    display: block;
    cursor: pointer;
  }
  
  .galleryResize,
  .galleryResize::after {
    position: absolute;
    top: 0;
    height: 100%;
    cursor: pointer;
  }
  
  .galleryResize {
    left: 0;
    width: 100%;
    overflow: hidden;
  }
  
  .galleryResize::after {
    content: '';
    width: 4px;
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    z-index: 20;
  }
  
  .imgBefore {
    display: block;
  }
  
  .imgAfter {
    display: block;
  }
  