.sliderImg {
	width: 100%;
	height: 100%;
 }
 
 .sliderContainer {
	width: 100%;
	margin: 0 auto;
	position: relative;
	margin-bottom: 100px;
	overflow: hidden;
 }
 
 .progressBarContainer {
	position: absolute;
	bottom: 5px;
	left: 50%;
	width: 100%;
	height: 5px;
	overflow: hidden;
	transform: translateX(-50%);
 }
 
 .progressBar {
	height: 100%;
	background-color: $red;
	transform-origin: center;
	transition: transform 0.1s linear;
 }
 
 .slide:focus {
	outline: none;
 }
 
 .nextArrow,
 .prevArrow {
	position: absolute;
	top: 60%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 2;
 }
 
 .nextArrow {
	right: 24px;
 }
 
 .prevArrow {
	left: 6px;
 }
 
 .arrowImg {
	width: 40px;
	height: auto;
 }
 
 .arrowLeft__background {
	position: absolute;
	width: 7vw;
	height: 100%;
	top: -5px;
	left: 0;
	background: linear-gradient(to right, rgb(27, 26, 26), rgba(0, 0, 0, 0));
 }
 
 .arrowRight__background {
	position: absolute;
	width: 7vw;
	height: 100%;
	top: -5px;
	background: linear-gradient(to left, rgb(27, 26, 26), rgba(0, 0, 0, 0));
	right: 0;
 }
 

 .sliderImg {
	width: 100%;
	height: 100%;
 }
 
 .sliderContainer {
	width: 100%;
	margin: 0 auto;
	position: relative;
	margin-bottom: 100px;
	overflow: hidden;
 }
 
 .progressBarContainer {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 100%;
	height: 5px;
	overflow: hidden;
	transform: translateX(-50%);
 }
 
 .progressBar {
	height: 100%;
	background-color: rgb(189, 0, 0);
	transform-origin: center;
	transition: transform 0.1s linear;
 }
 
 .slide:focus {
	outline: none;
 }


 
 .nextArrow,
 .prevArrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 2;
 }
 
 .nextArrow {
	right: 24px;
 }
 
 .prevArrow {
	left: 6px;
 }
 
 .arrowImg {
	width: 40px;
	height: auto;
 }
 
 .arrowLeft__background {
	position: absolute;
	width: 7vw;
	height: 100%;
	top: -5px;
	left: 0;
	background: linear-gradient(to right, rgb(27, 26, 26), rgba(0, 0, 0, 0));
 }
 
 .arrowRight__background {
	position: absolute;
	width: 7vw;
	height: 100%;
	top: -5px;
	background: linear-gradient(to left, rgb(27, 26, 26), rgba(0, 0, 0, 0));
	right: 0;
 }


 .sliderText {
	position: absolute;
	bottom: 0;
	width: 100%;
	@include fontTitle2();
	background-color: rgb(27, 26, 26, 0.1);
	padding: 10px;
	padding-left: 6vw;
	margin: 0;
 }