.sliderContainer {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 9vw;
}



 .sliderImg {
	width: 95% !important;
	padding: 1vw;
 }

 .sliderText {
	padding-left: 1vw;
 }

 .arrowImg {

&__Next {
	width: 30px;
	position: absolute;
	left: 3vw;
}

&__Prev {
	width: 30px;
	position: absolute;
	left: -3vw;
}
 }

 