.contactsContainer {
    width: 100%;
    background-color: $mainDark;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    @include fontTitle1();
    padding-top: 2vw;
    padding-bottom: 2vw;
}
.contactsContactsSection {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vw;
    position: relative;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .contactsContactsSection.visible {
    opacity: 1;
    transform: translateX(0);
  }
.contactsContacts {
    display: flex;
    flex-direction: column;
    gap: 1vw;

}

.contactsContactsNumbers {

}

.contactsContactsNumberLink{
    @include fontTitle1();
    text-decoration: none;
}
.contactsContactsLogos{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.contactsContactsMessangers{
    display: flex;
    flex-wrap: nowrap;
    gap: 2vw;
}
.contactsContactsSocial {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}          

.contactsContactsSocialLogos{
    display: flex;
    flex-wrap: nowrap;
    gap: 2vw;
}
.contactsVideoSection {
   display: flex;
   justify-content: center;
   align-items: center;
}
.contactsYouTube {
width: fit-content;
height: auto;
}

.logoImg {
    opacity: 0.5;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 1; 
      }
}