.contactsContainer {
    width: 100%;
    background-color: $mainDark;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    @include fontTitle1();
}
.contactsContactsSection {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.contactsContacts {
    display: flex;
    flex-direction: column;

}
.contactsContactsLogos{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.contactsContactsMessangers{
    display: flex;
    flex-wrap: nowrap;
    gap: 2vw;
}
.contactsContactsSocial {
    display: flex;
    flex-wrap: nowrap;
    gap: 2vw;
}          
.contactsVideoSection {


}
.contactsYouTube {

}