.contactsContainer {
    width: 100%;
    background-color: $mainDark;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    @include fontTitle1();
    padding-top: 2vw;
    padding-bottom: 2vw;
}
.contactsContactsSection {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vw;
}
.contactsContacts {
    display: flex;
    flex-direction: column;
    gap: 1vw;

}

.contactsContactsNumbers {

}

.contactsContactsNumberLink{
    @include fontTitle1();
    text-decoration: none;
}
.contactsContactsLogos{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.contactsContactsMessangers{
    display: flex;
    flex-wrap: nowrap;
    gap: 2vw;
}
.contactsContactsSocial {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}          

.contactsContactsSocialLogos{
    display: flex;
    flex-wrap: nowrap;
    gap: 2vw;
}
.contactsVideoSection {
   display: flex;
   justify-content: center;
   align-items: center;
}
.contactsYouTube {
width: fit-content;
height: auto;
}